<div class="dashboard-container">

    <!-- Sidebar -->
  
    <div class="sidebar">
  
      <h2 class="logo">FoodSafe</h2>
  
      <ul>
  
        <li>
          <a>
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>restaurant</mat-icon>
           foods
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>fact_check</mat-icon>
            Inspections
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>description</mat-icon>
            Reports
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>people</mat-icon>
            Inspectors
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>logout</mat-icon>
            Logout
          </a>
        </li>
  
      </ul>
  
    </div>
  
  
    <!-- Main Content -->
  
    <div class="main-content">
  
      <!-- Topbar -->
  
      <div class="topbar">
  
        <h1 style="font-size:large;">Food Inspection Dashboard</h1>
  
        <div class="user">
          <mat-icon>account_circle</mat-icon>
        </div>
  
      </div>
  
  
      <!-- Statistics Cards -->
  
      <div class="container mt-4">
  
        <div class="row">
  
          <div class="col-md-3 mb-4">
            <div class="card dashboard-card shadow">
              <h4>Total Inspections</h4>
              <h2>120</h2>
            </div>
          </div>
  
          
  
          <div class="col-md-3 mb-4">
            <div class="card dashboard-card shadow">
              <h4>Passed</h4>
              <h2>90</h2>
            </div>
          </div>
  
          <div class="col-md-3 mb-4">
            <div class="card dashboard-card shadow">
              <h4>Failed</h4>
              <h2>15</h2>
            </div>
          </div>
  
        </div>
  
  
        <!-- Inspection Table -->
  
        <div class="card shadow mt-4">
  
          <div class="card-header">
            Recent Inspections
          </div>
  
          <table class="table table-striped">
  
            <thead>
              <tr>
                <th>ID</th>
                <th>food</th>
                <th>Inspector</th>
                <th>Status</th>
                <th>Date</th>
              </tr>
            </thead>
  
            <tbody>
  
              <tr>
                <td>101</td>
                <td>apple</td>
                <td>Raj Patel</td>
                <td><span class="badge bg-success">Passed</span></td>
                <td>12 May</td>
              </tr>
  
              <tr>
                <td>102</td>
                <td>orange</td>
                <td>Neha Shah</td>
                <td><span class="badge bg-danger">Failed</span></td>
                <td>11 May</td>
              </tr>
  
            </tbody>
  
          </table>
  
        </div>
  
      </div>
  
    </div>
  
  </div>