.dashboard-container{
    display:flex;
    height:100vh;
    }
    
    /* Sidebar */
    
    .sidebar{
    width:230px;
    background:#2c3e50;
    color:white;
    padding:20px;
    }
    
    .logo{
    text-align:center;
    margin-bottom:30px;
    }
    
    .sidebar ul{
    list-style:none;
    padding:0;
    }
    
    .sidebar li{
    margin:15px 0;
    }
    
    .sidebar a{
    color:white;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    border-radius:8px;
    }
    
    .sidebar a:hover{
    background:#34495e;
    }
    
    /* Main */
    
   .main-content{
  margin-left: 240px;   /* space for sidebar */
  margin-top: 60px;     /* space for topbar */

  padding: 20px;
  background: #f4f6fb;

  min-height: 100vh;
}
    /* Topbar */
    
    .topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    background:white;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    }
    
    /* Cards */
    
    .dashboard-card{
    padding:20px;
    border-radius:10px;
    text-align:center;
    }