 <div class="sidebar" style="height: 100vh;">
  
      <h2 class="logo" >FoodSafe</h2>
  
      <ul>
  
        <li>
          <a routerLink="/analytics">
          
            Analytics
          </a>
        </li>
         <li>
          <a routerLink="/foods">
          
            Foods
          </a>
        </li>
  
        

  
        <li>
          <a routerLink="/pastreports">
          
            Past Reports
          </a>
        </li>
  
        
  
        <li>
          <a>
          
            Logout
          </a>
        </li>
  
      </ul>
  
    </div>
  