 <div class="sidebar" style="height: 100vh;">
  
      <h2 class="logo" >FoodSafe</h2>
  
      <ul>
  
        <li>
          <a>
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>restaurant</mat-icon>
           foods
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>fact_check</mat-icon>
            Inspections
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>description</mat-icon>
            Reports
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>people</mat-icon>
            Inspectors
          </a>
        </li>
  
        <li>
          <a>
            <mat-icon>logout</mat-icon>
            Logout
          </a>
        </li>
  
      </ul>
  
    </div>
  